/*_404.scss*/


body.error404{	
//background-color: $black;

	section#page-404-details{

		.page-title-position.absolute.left{
		right: 87.5%;
		
			.page-title {
			font-weight: $lightweight;
			}

		}//.page-title-position.absolute.left

	}//section#404-details

	section#page-404-content{
	width: 100%;
	text-align: center;
	flex-flow: column;
	}//section#404-content

}//body.error404