/* admin styles for legal pagess */

body.wp-admin.admin-page-id-3, //privacy policy - local
body.wp-admin.admin-page-id-343{// t&c - local

	.editor-styles-wrapper{
	background: $black;
	color: $white;

		h1,h2,h3,p,a{
		color: $white;
		}

		// This could be a good way to only "mangage" one sheet for things that operate in both back and front end, yet need to be targetted more accurately
		@import "_partials/pages-legal"; // it would require having 3 sheets - 2 of which; admin and non admin include the top body.$taerget. and the remain sheet is more "bare" - so I can wrap acocrdingly

	}

}
//body.wp-admin.admin-page-id-3 // prrivaic - local
//body.wp-admin.admin-page-id-343{// t&c - local
