/* Credit Block */


.alignleft{
text-align: left;
}

.aligncenter{
text-align: center;
}

.alignright{
text-align: right;
}


.inp-block{

}

.credit-block{
width: 100%;// dirty maybe?
//@include h2;
font-family: $fontfamily;
//font-weight: $boldweight;
margin:auto;
position: relative;
@include padding(margin-top, 1);
@include padding(margin-bottom, 2);


		.credit-blockcredit{
	 	}

		.credit-text-wrap{
		margin:auto;
	//	@include padding(padding-top, 0.25);
  	//	@include padding(padding-bottom, 0.25);
  	//	@include padding(margin-top, 0.25);
  	//	@include padding(margin-bottom, 0.25);


			.credit-inner-text-wrap{
			}

			.credit-title{
			@include body;
			font-weight: $boldweight;
			position: relative;
 			display: block;
			clear:both;
	  		}

	  		.credit-details{
			@include body;
			@include padding(padding-top, 0.25);
  			display: block;
  			width: auto;
	  		}


		}

			
	&.alignleft{
		
		.grid.align-position{
		justify-content:flex-start;
		}	

 
		.credit-inner-text-wrap{
		//float: left;
		}


	}//&.alignleft

	&.aligncenter{
		

		.grid.align-position{
	    justify-content: center;
		}

		.credit-inner-text-wrap{
  	   // align-items: center;
		}
	 

	}//&.aligncenter

	&.alignright{


		.grid.align-position{
		justify-content:flex-end;
		}	

		.credit-inner-text-wrap{
		//float:right;
		}
	 

	}//&.alignright


}// credit	