/* Merch Block */


.align-left{
text-align: left;
}

.align-center{
text-align: center;
}

.align-sright{
text-align: right;
}



.merch-block{
width: 100%;// dirty maybe?
//@include h2;
font-family: $fontfamily;
//font-weight: $boldweight;
margin:auto;
position: relative;
@include padding(margin-top, 1);
@include padding(margin-bottom, 2);


			
	&.align-left{
		
		.grid.align-position{
		justify-content:flex-start;
		}	

	}//&.alignleft

	&.align-center{
		

		.grid.align-position{
	    justify-content: center;
		}
 

	}//&.aligncenter

	&.align-right{


		.grid.align-position{
		justify-content:flex-end;
		}	

 
	}//&.alignright


}// merch-block