.event-block{
width: 100%;// this dirty?

    .event-item{
    min-height: 50vh;
    @include padding(padding, 2);
    background-size: cover;
    background-position: center;
    

      .event-name{
      @include h2;
      font-weight: $boldweight;
      } 

    }


  div.summary-item{
   border-bottom: 1px solid white;   
  @include padding(padding-top, 0.2);
  @include padding(padding-bottom, 0.2);
  @include smaller;

    a{
    @include scalelink-out;

    font-size: inherit;
    line-height: inherit;
    width: 100%;
    height: auto;
    overflow: hidden;
    display: block;
    }

    span{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    float: left;
    }

    .svg-icon.inline-icon{
    @include cssvalue(height, 1); // 1 -padding minus (from above though -- not sure it adds up)
   
       @media (min-width: map-get($breakpoints,sm)) {
         @include cssvalue(height, 0.8); // 1 -padding minus (from above though -- not sure it adds up)
        padding:0;
       }

       @media (min-width: map-get($breakpoints,md)) {      
         @include cssvalue(height, 0.8); // 1 -padding minus (from above though -- not sure it adds up)
         @include cssvalue(padding, 0.1); // 1 -padding minus

        }//md

    }//.svg-icon.inline-icon

    &:hover{
     
      a.scale-link{
      @include scalelink-in;

        .right{ 
         font-weight: $boldweight;
        }

      }

      a.scale-link-right{

        .right{ 
         font-weight: $boldweight;
        @include scalelink;
        }

      }

    }

  }
  div.summary-item:first-child{
  }
  div.summary-item:last-child{
  border-bottom: none;   

      &:hover{
      // border-top: 1px solid white; 
      }
  
  }
  div.summary-item:first-child:last-child{
  border: none;
  }


  div.summary-item.past{

      span{
      float: left;
      }

      a{
      width: 100%;
      float: left;
      display: block;
     // width: auto;

          .right{ 
          float:right;  
          font-weight: $mediumweight;
          }

          
      }

  } /* div.summary-item */    
    
}/*.event-block */