/* Artist Block */


.artist-block{
width: 100%;// this dirty?

	.banner-image{
	height: 40vh;
	//min-height: 300px; // adresss this problem
	position: relative;
	width: 100%;
	display:block;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;

	    .page-title-positioner{
	     animation: blurout 400ms ease-in forwards;
	    }

	}

	a{
	width: 100%;// this dirty?  
	}

	&:hover{

		.banner-image{

			.page-title-positioner{
			animation: blurin 400ms ease-in forwards;

			}
		}

	}

} //.artist-block
