/* Sound Block */





.sound-block{
width: 100%;// this dirty?

		
	.play-icon-wrap{
	width: 12.5vw;
	overflow: hidden;
	float: left;
	@extend .grid-item;
	}

	.play-toggle{
	border-radius:50%;
	margin:10% 20%;
	padding:20%;
	background: $black;	
	}
	.play-toggle.small{
	//padding: 25% 0;
		background: transparent;	
		border: 1px solid $white;
		//animation: blurout 100ms ease-in forwards;

		path{
		}

		&:hover{
		border: 1px solid $black;
		//animation: blurin 100ms ease-in forwards;

			path{	
			fill:$black;
			}

		}

	}       

	.show-title{
	@include cssvalue(padding-top, 0.25);
	@include h1;
    font-weight: $boldweight;
	}
	.show-start{
	@include smaller;
	
	}

	&.alignright {
	width: 100%;
	float: none;

		.radio-item.grid{
		flex-direction:row-reverse;
		text-align: right;
		}

	}//&.alignright
	
	&.aligncenter{
	float: none;
	width: 100%;

		.radio-item.grid{
		flex-direction:initial;
		text-align: left;
		
			.play-icon-wrap{
			@extend .push-item-left-sm-1;
	   		}

   		}

	}//&.aligncenter

	&.alignleft{
	float: none;
	width: 100%;

		.radio-item.grid{
		flex-direction:initial;
		text-align: left;
		}

	}//&.alignleft


} //.sound-block