/* Release Block 
TO - tidy this up, I feel there's a lot of excess code - and not very well organised either

*/


.release-block{
width: 100%;// this dirty?

	a{
	width: 100%;// this dirty?
	}//a

    #container{
    background:black;
    width: 100%;
    min-height: 100vh;
    height: auto;
    display: block;
    position: relative;
    }

    .record-circle-container{
    display: block;
    height:37.5vw;//45vw;//600px; 
    padding:0;// 100px 0px 100px 0px; // Iremoved the padding changed to vw
    margin:auto;
    width: 100%;
    position: relative;
    overflow:hidden;
    padding-top: 6.25vw;
    padding-bottom: 6.25vw;
    pointer-events:none;// untill js loaded - don't allow user interaction; causes glitches on hover states occastionaly

    }

    .inner-container{
    margin:auto;
    position:relative;
    width:25vw;//37.5vw;//45vw;//600px; 
    }

    .sleave-square{
    position:relative;
    margin:auto;
    display:block;
    width:25vw;//37.5vw;//45vw;//600px; 
     pointer-events:none;
    //display:none;
    z-index: 92;//100; // this was 100, but was too high in context to the sticky player
    }

	.sleave-square.inner-back{
	position:absolute;
	margin:auto;
	display:block;
	width:25vw;//37.5vw;//45vw;//600px; 
	pointer-events:none;
	left: 0;
	right: 0;
	top: 0;
	height: 25vw;
	bottom: 0;
	z-index: 80;

	}

	.sleave-square.inner-sleave{
	position:absolute;
	margin:auto;
	display:block;
	width:25vw;//37.5vw;//45vw;//600px; 
	pointer-events:none;
	left: 0;
	right: 0;
	top: 0;
	height: 25vw;
	bottom: 0;
	z-index:91;
	animation: moveleft 500ms ease-out forwards;

	}

	.active .sleave-square.inner-sleave{
	animation-iteration-count: 1;
	animation: moverighttwo 500ms ease-in-out forwards;
	}

	.record-sleave{
	display: block; 

	width:25vw;//30vw;//400px; 
	height:25vw;//30vw;//400px;
	position: absolute; 
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.10); // review this.

	}
	.active.record-sleave{

	opacity:0;
	animation-iteration-count: 1;
	animation: decreaseopacity 1000ms ease-out forwards;
	}
	
	.release-details{
	color: $black;
	position: absolute;
	width: 100%;
	color:white;
	font-family:"objectivity", sans-serif;
	//font-size: 3vw;//30px;
	//line-height: 3.6vw;//36px;
	@include cssvalue(font-size, 0.6);
	@include cssvalue(line-height,0.7);
	@include cssvalue(margin-top,-0.7);
	top: 6.25vw;//12.5vw;//15vw;//200px; 
	left: -25vw;
	padding-top: 6.25vw;
	padding-bottom: 6.25vw;
	opacity:0;
	animation-iteration-count: 1;
	animation: decreaseopacity 500ms ease-out forwards;

    
    @media (min-width: map-get($breakpoints,md)) {
    @include cssvalue(font-size, 0.8);
    @include cssvalue(line-height,0.9);
    }

    .release-code{
    font-weight:100; 
    // font-size:1.5vw;//18px;
    @include cssvalue(padding-bottom, 0.3);
    @include cssvalue(font-size, 0.4);
    @include cssvalue(line-height,0.4);
    }
    .release-artists{
    font-weight:400; 
    font-style: italic;
    //   @include cssvalue(padding-top, 0.2);
    @include cssvalue(padding-bottom, 0.2);

    }
    .release-artist{
    float: left;
    font-weight:400; 
    font-style: italic;
    //   @include cssvalue(padding-top, 0.2);
    @include cssvalue(padding-bottom, 0.2);
    @include cssvalue(font-size, 0.6);
    @include cssvalue(line-height,0.7);

    }

    .release-artist:after{
    content: '';
    white-space: pre-wrap;
    }

    .release-title{
    font-weight:600;
    //  @include cssvalue(padding-top, 0.2);
    @include cssvalue(padding-bottom, 0.3); 
    }

	.release-artist:last-child:after{
	content: '';
	}



} /* .release-details */

  .active .release-details{
  opacity: 1;
  animation-iteration-count: 1;
  animation: 
  increaseopacity 1000ms ease-in forwards;
  z-index: 93;//was 109 - but clashing with soundplayer;
  pointer-events:none;
  }

.record-circle{
 height: 25vw;//30vw;//400px; 
  width: 100%;
  margin:auto;
  display: block;
  position: relative;
  z-index:90;
  overflow:hidden;
}
.record-item{
  position: absolute;
  width: 25vw;//30vw;//400px; 
  height: 25vw;//30vw;//400px; 
  z-index:1;
}
.record-label{
  z-index:2;
  position: absolute;
  width: 25vw;//30vw;//400px; 
  height:25vw;//30vw;//400px; 
}



		/* start (one) record */

		.inner-container{
		  z-index:30;
		}
		.inner-container.two{
		  z-index:20; 
		}
		.inner-container.three{
		  z-index:10; 
		}

		.rotated .record-item{
		  animation: moveleft 500ms ease-out forwards;
		 // transition: all 1s ease-in;
		}

		.rotated .record-label{
		animation: rollingleft 500ms ease-out forwards,
		 moveleft 500ms ease-out forwards;
		}

		.rotated.rotate .record-item{ 
		animation-iteration-count: 1;
		animation: moveright 500ms ease-out forwards;
		left: 0px;
		}

		.rotate .record-label{
		animation-iteration-count: 1;
		animation: 
		rollingright 500ms ease-out forwards,
		moveright 500ms ease-out forwards;
		left: 0px;

		   &.two{

		//    background-color: red;
		   }
		  &.three{

		//     background-color: yellow;
		   }


		}




		@keyframes rollingright{
		  from { transform: rotate(0deg); }
		  to { transform: rotate(180deg); }
		}
		@keyframes moveright {
		  0%   { left: 0px; }
		  100% { left: 12.5vw;//15vw;//200px; 
		  }
		}

		@keyframes rollingleft{
		  from { transform: rotate(180deg); }
		  to { transform: rotate(0deg); }
		}
		@keyframes moveleft {
		  0%   { left: 12.5vw;//15vw;//200px; 
		  }
		  100% { left: 0px; }
		}
		 
		/* end (one) record */
		/* start two records */


		.rotated .record-item.two{
		  animation: movelefttwo 500ms ease-out forwards;
		 // transition: all 1s ease-in;
		}

		.rotated .record-label.two{
		    animation: rollinglefttwo 500ms ease-out forwards, movelefttwo 500ms ease-out forwards;
		}
		.rotated.rotate .record-item.two{ 
		  animation-iteration-count: 1;
		   animation: 
		 moverighttwo 500ms ease-out forwards;
		   left: 0px;
		}


		.rotate .record-label.two{
		   animation-iteration-count: 1;
		   animation: 
		rollingrighttwo 500ms ease-out forwards,
		moverighttwo 500ms ease-out forwards;
		   left: 0px;
		}



		@keyframes rollingrighttwo{
		  from { transform: rotate(0deg); }
		  to { transform: rotate(360deg); }
		}
		@keyframes moverighttwo{
		  0%   { left: 0px; }
		  100% { left: 25vw;//30vw;//400px;  
		        }
		}

		@keyframes rollinglefttwo{
		  from { transform: rotate(360deg); }
		  to { transform: rotate(0deg); }
		}
		@keyframes movelefttwo {
		  0%   { left: 25vw;//30vw;//400px; 
		         }
		  100% { left: 0px; }
		}


		/* end two records */


		/* start three records */


		.rotated .record-item.three{
		  animation: moveleftthree 500ms ease-out forwards;
		 // transition: all 1s ease-in;
		}

		.rotated .record-label.three{
		    animation: 
		    rollingleftthree 500ms ease-out forwards, 
		    moveleftthree 500ms ease-out forwards;
		}
		.rotated.rotate .record-item.three{ 
		  animation-iteration-count: 1;
		   animation: 
		 moverightthree 500ms ease-out forwards;
		   left: 0px;
		}


		.rotate .record-label.three{
		   animation-iteration-count: 1;
		   animation: 
		   rollingrightthree 500ms ease-out forwards,
		   moverightthree 500ms ease-out forwards;
		   left: 0px;
		}



		@keyframes rollingrightthree{
		  from { transform: rotate(0deg); }
		  to { transform: rotate(540deg); }
		}
		@keyframes moverightthree{
		  0%   { left: 0px; }
		  100% { left: 37.5vw;//30vw;//400px;  
		        }
		}

		@keyframes rollingleftthree{
		  from { transform: rotate(540deg); }
		  to { transform: rotate(0deg); }
		}
		@keyframes moveleftthree {
		  0%   { left: 37.5vw;//30vw;//400px; 
		         }
		  100% { left: 0px; }
		}


/* end three records */

} //.release-block

