/* _cookie-banner.scss 

TO DO - this stylesheet is a mess

*/


body.cookies-not-set // if no preferences set yet
{

     &.post-type-archive-releases,
     &.preview-site.g-scale.post-type-archive-releases{

       .scene-fixer{
        @include grayscale-in; 
        }

    }// &.post-type-archive-releases

    &:not(.post-type-archive-releases),
    &.preview-site.g-scale:not(.post-type-archive-releases){

        .ajax-container{
        @include grayscale-in;
        }

    }//&:not(.post-type-archive-releases)
   
    // Colour preview on hover:

    &.preview-site.post-type-archive-releases{

        .scene-fixer{ // this for the releases
        @include grayscale-out;
        } 

    }// &.preview-site.post-type-archive-releases

    &.preview-site:not(.post-type-archive-releases){

        .ajax-container{
        @include grayscale-out;
        }

    }// &.preview-site:not(.post-type-archive-releases)

        
     &.preview-site{ // this all the other markiup 
        //colour

        .cookie-notice-container{
        --borderWidth: 3px;
        position: relative;
        border-radius: var(--borderWidth);
        }

        .cookie-notice-container:after {
        content: '';
        position: absolute;
        left:0;
        height: 3px;
        top: -3px;
        width: 100%;
        background: linear-gradient(60deg, $black, $red, $black);
        z-index: -1;
        animation: animatedgradient 3s ease alternate infinite;
        background-size: 300% 300%;
        }

    }//&.preview-site

    &.preview-site.g-scale{ // this all the other markiup - grey out
        //grey

        .cookie-notice-container:after {
        background: linear-gradient(60deg, $black, $white, $black);
        animation: animatedgradient 3s ease alternate infinite;
        background-size: 300% 300%;
        }

    }//&.preview-site.g-scale

    .footer-wrap{
     
    @media (min-width: map-get($breakpoints,sm)) {

        }

    @media (min-width: map-get($breakpoints,md)) {
        }

    }// .footer-wrap

}//body.cookies-not-set

body.cookies-refused // if refused - make the site sligtly less usable aswell?
{

     &.post-type-archive-releases,
     &.preview-site.g-scale.post-type-archive-releases
     {

      .scene-fixer{
        @include grayscale-in;
 
        }

    }// &.post-type-archive-releases

    &:not(.post-type-archive-releases),
    &.preview-site.g-scale:not(.post-type-archive-releases)
    {

        .ajax-container{
          @include grayscale-in;

        }

    }//&:not(.post-type-archive-releases)
  
    // preview on hover:
    &.preview-site.post-type-archive-releases{
 
        .scene-fixer{ // this for the releases
        @include grayscale-out;
        } 

    }// &.preview-site.post-type-archive-releases

    &.preview-site:not(.post-type-archive-releases){

        .ajax-container{
        @include grayscale-out;
        }

    }// &.preview-site:not(.post-type-archive-releases)

  
       
    &.preview-site{ // this all the other markiup

        .cookie-notice-container{
        --borderWidth: 3px;
        position: relative;
        border-radius: var(--borderWidth);
        }

        .cookie-notice-container:after {
        content: '';
        position: absolute;
        left:0;
        height: 3px;
        top: -3px;
        width: 100%;
        background: linear-gradient(60deg, $black, $red, $black);
        z-index: -1;
        animation: animatedgradient 3s ease alternate infinite;
        background-size: 300% 300%;
        }

    }//&.preview-site

    &.preview-site.g-scale{

        .cookie-notice-container:after {
        background: linear-gradient(60deg, $black, $white, $black);
        animation: animatedgradient 3s ease alternate infinite;
        background-size: 300% 300%;
        }

    }//&.preview-site.g-scale


}//body.cookies-refused

body.cookies-accepted
{

    #cookie-notice{
     display: none; 
    }//#cookie-notice


    .cookie-notice-revoke-container {
     display: none!important;
     visibility: hidden;
    }
  

    &.post-type-archive-releases{

        .scene-fixer{
        @include grayscale-out;
        }

    }// &.post-type-archive-releases

    &:not(.post-type-archive-releases){

        .ajax-container{
        @include grayscale-out;
        }

    }//&:not(.post-type-archive-releases


    &.preview-site.g-scale.post-type-archive-releases{

        .scene-fixer{ // this for the releases
        @include grayscale-in;

        } 

    }// &.preview-site.post-type-archive-releases &.preview-site{

    &.preview-site.g-scale:not(.post-type-archive-releases){

        .ajax-container{
         @include grayscale-in;
        }

    }// &.preview-site:not(.post-type-archive-releases)
 
    &.preview-site{ // all the other markup:

        .cookie-notice-container{
          --borderWidth: 3px;
          position: relative;
          border-radius: var(--borderWidth);
         }

         .cookie-notice-container:after {
          content: '';
          position: absolute;
          left:0;
          height: 3px;
          top: -3px;
          width: 100%;
          background: linear-gradient(60deg, $black, $red, $black);
          z-index: -1;
          animation: animatedgradient 3s ease alternate infinite;
          background-size: 300% 300%;
        }

    }//&.preview-site

    &.preview-site.g-scale{ // this all the other markiup - grey out
        //grey
        
        .cookie-notice-container:after {
         background: linear-gradient(60deg, $black, $white, $black);
        animation: animatedgradient 3s ease alternate infinite;
        background-size: 300% 300%;
        }

    }//&.preview-site.g-scale

}//body.cookies-accepted






// opnce the cookie has been agreen on - lest not bother showing "the option button" unless on the privacy page?

 body.cookies-accepted{ // if they agree and set yes - no point providng the options?


  #cn-accept-cookie{
    opacity: 0.2;
    //pointer-events:none;
    }

    #cookie-notice{
    // display: none;
     //position:fixed;// sticky;//fixed;
     }//#cookie-notice

    .cookie-notice-revoke-container {
     //display: none!important;
    //visibility: hidden;
    }

}// body.cookies-set.cookies-accepted


body.cookies-refused{

    #cookie-cont{
    background: transparent;// this se twith js at the mo ;( so have to veridre- find better solution

        @media (min-width: map-get($breakpoints,xs)) { 
        width: 12.5vw;
        height: 12.5vw;
        }  

        @media (min-width: map-get($breakpoints,sm)) { 
        width: 12.5vw;
        height: 12.5vw;
        }  

    }

    #cookie-notice{
    height: 100%;
    padding: 30%;
    }

    .cookie-notice-container{
    display: none;
    //position:fixed;// sticky;//fixed;
    }//#cookie-notice

    #cn-refuse-cookie{
    opacity: 0.2;
    //pointer-events:none;
    }
    #cn-revoke-cookie{
    height: inherit;
    }

    .cookie-notice-revoke-container {
     height: inherit;
  //  --borderWidth: 3px;
    position: relative;
    border-radius: 50%;
    overflow: hidden;

   // border-radius: var(--borderWidth);
    
        a{
        height: inherit;
        padding:0px;
        border:0px;
        line-height: 10.5vw!important;// reviw + the copy used
        text-align: center;
        @include smaller;// evne smaller?
        width: 100%;
        display: block;
        @include cssvalue(font-size, 0.4);
        color: transparent;
       // @include cssvalue(line-height, 0.6);
        }

        a:after{               
        content: '';
        position: absolute;
        left:0;
        height: 100%;
        //    top: -3px;
        width: 100%; // this should probably pulsate slightly instead? but on hover only? - image of cookie
        background:radial-gradient( $red, $red_0, $red);

      //  background: linear-gradient(60deg, $black, $red, $black);
        z-index: -1;
        animation: animatedgradient 30s ease alternate infinite;
        background-size: 800% 800%;
        }

    }
    

}// body.cookies-refused

body.cookies-set.cookies-revoke{

    #cookie-cont{
    width: 100%;
    height: inherit;
    background: $black;
    }

    #cookie-notice{
    display: flex;
     @extend .grid-item;// for padding
    }

    .cookie-notice-container{
    display: flex;
    }
    
    .footer-wrap{
    // add sufficient padding - also ensure applied on "non-set cookieie3s"
         @include cssvalue(padding-bottom, 8);
    
        @media (min-width: map-get($breakpoints,sm)) {
        @include cssvalue(padding-bottom, 6);
        }

        @media (min-width: map-get($breakpoints,md)) {
        @include cssvalue(padding-bottom, 6);
        }

    }// .footer-wrap
  
}//body.cookies-set.cookies-revoke

 

body.page-id-3.cookies-revoke{

    #cookie-notice{
  //  position: fixed;//sticky;
    }//#cookie-notice


    .cookie-notice-revoke-container {

    }

}//body.cookies-revoke


/* start styling 

TO DO:"

- apply my responsive messareuments
- remove unccesary styleing such as afont sizes,lineheight etc

"

*/
#cookie-cont{
    display: block;
    position: fixed;
    background: $black;
    width: 100%;
    height: inherit;
    top: initial;
    bottom: 0;
    pointer-events:none;
    z-index: 99999;// review
}

#cookie-notice {
   // border-top:1px solid $white;
    display: block;
  //  visibility: hidden;
    pointer-events:initial;
    position: sticky;//fixed;//sticky; //was:fixed;
    min-width: 100%;
    height: auto;
    bottom: 0;
    // z-index: 100000; // this a bit OTT - review maybe?
    //font-size: 13px;
    // line-height: 20px;
    left: 0;
    //text-align: left;
    @include h1;
    @extend .grid-item;// for padding

}

.cn-top {
    top: 0
}

.cn-bottom {
    bottom: 0
}

.cookie-notice-container {
    //padding: 10px;
	//@include cssvaluegutter(padding-left,0.5); 
	//@include cssvaluegutter(padding-right,0.5); 
  //	@include cssvalue(padding-left,1); 
	//@include cssvalue(padding-right,1); 
  //  @extend .outer-grid;
    @extend .grid;
   // @extend .inner;
    text-align: left;
    width: 100%;
    font-weight: $mediumweight;

 /*   -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
*/
}

.cookie-notice-revoke-container {
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 1;
    visibility: hidden;// - review + delete if okay? or needed?
}

.cn-top .cookie-notice-revoke-container {
    top: 0;
    bottom: auto
}

#cookie-notice .cn-revoke-cookie {
    margin: 0
}

.cn-button.wp-default,
.cn-button.wp-default:hover,
.cn-button.bootstrap,
.cn-button.bootstrap:hover {
    box-shadow: none;
    text-decoration: none
}

#cookie-notice .cn-button {
//   margin-left: 10px

}


.cn-button.wp-default,// no really used
.cn-button.bootstrap, // not really used
.cn-button {
    text-align: center;
    line-height: inherit;
    font-size: inherit;
    //@include cssvalue(line-height,1); 
    background: $white;
    color: $black;
    border:1px solid $white;
   // font-family: sans-serif;
   // line-height: 18px;
   // padding: 2px 12px;
   // background: linear-gradient(to bottom, #FEFEFE, #F4F4F4) repeat scroll 0 0 #F3F3F3;
   // border-color: #BBB;
   // color: #333;
    //text-shadow: 0 1px 0 #FFF;
   // -moz-box-sizing: border-box;
    @include cssvalue(border-radius,1); 
    @include cssvalue(padding,0.3); 
    @include cssvalue(margin-bottom,0.3); 

   // @extend .grid-item-xs-8;
  //  border-style: solid;
   // border-width: 1px;
    cursor: pointer;
  //  display: inline-block;
 //   font-size: 12px;
   // font-style: normal;
    text-decoration: none;
    white-space: nowrap;
//    outline: none;
    display:block;
}

.cn-button.wp-default:hover,
.cn-button.bootstrap:hover,
.cn-button:hover
{
    background: $black;
    color: $white;
    border:1px solid $white;
}

.cn-button.bootstrap {
 /*   font-family: sans-serif;
    display: inline-block;
   // *display: inline;
    padding: 4px 12px;
    margin-right: .3em;
    margin-bottom: 0;
   // *margin-left: .3em;
    line-height: 20px;
    color: #333;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255, 255, 255, .75);
    font-style: normal;
    vertical-align: middle;
    cursor: pointer;
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, .25);
    background-color: $white;
   
    background-image: -moz-linear-gradient(top, #0088cc, #0044cc);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0044cc));
    background-image: -webkit-linear-gradient(top, #0088cc, #0044cc);
    background-image: -o-linear-gradient(top, #0088cc, #0044cc);
    background-image: linear-gradient(to bottom, #0088cc, #0044cc);
    background-repeat: repeat-x;
    border-style: solid;
    border-width: 1px;
    border-color: #04c #04c #002a80;
    border-color: rgba(0, 0, 0, .1) rgba(0, 0, 0, .1) rgba(0, 0, 0, .25);
    box-shadow: 0 1px 0 rgba(255, 255, 255, .2) inset, 0 1px 2px rgba(0, 0, 0, .05);
   // filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0044cc', GradientType=0);
    //filter: progid: DXImageTransform.Microsoft.gradient(enabled=false);
    padding: 2px 10px;
    font-size: 12px;
    text-decoration: none;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    outline: none
    */
}

.cn-button.bootstrap:hover {
    /*
    color: #fff;
    background-color: #04c;
    *background-color: #003bb3;
    background-position: 0 -15px;
    -webkit-transition: background-position 0.1s linear;
    -moz-transition: background-position 0.1s linear;
    -o-transition: background-position 0.1s linear;
    transition: background-position 0.1s linear
    */
}

 
 #cn-notice-text{
  @include cssvalue(padding-bottom,0.3); 
    @include cssvalue(padding-top,0.3); 

   @media (min-width: map-get($breakpoints,md)) {   
    @include cssvalue(padding-bottom,0.5); 
    @include cssvalue(padding-top,0.5); 
    }   

 }// #cn-notice-text

/*@media all and (max-width:900px) { 
//this some breakpoint that doesnt't mean anything for my cod
    .cookie-notice-container #cn-notice-text {
        display: block;
       margin-bottom: 0;
    }
    #cookie-notice .cn-button {
    margin-left:5%;
    margin-right:5%;
    }
}
 */
.cn-revoke-cookie.cn-button{
    width: 100%;
    background: transparent;
    color: white;

}

#cn-accept-cookie{

    @extend .grid-item-xs-6;
    display: block;
    float: left;
    background: $white;
    color: $black;
    border:1px solid $white;

    @media (min-width: map-get($breakpoints,sm)) { 
    flex:auto;
    }     

    &:hover{
    background: $white;
    color: $black;
    border:1px solid $white;
    }

}

#cn-more-info{
    @extend .grid-item-xs-6;

    background: transparent;
    color: white;
    border:1px solid transparent;

    float: left;
    clear: both;

     @media (min-width: map-get($breakpoints,sm)) { 
    flex:auto; 
    }     

 }

#cn-refuse-cookie{
   // @include cssguttervalue(margin-right,1); 
   // @include cssguttervalue(margin-left,1); 
   // @extend .grid-item-xs-6;
    @extend .grid-item-xs-6;

   // @include cssvaluegutter(margin-left,2); 
    float: right;
    display: block;
    background: transparent;
    color: white;

    @media (min-width: map-get($breakpoints,sm)) {   
    flex: auto;
    @include cssvaluegutter(margin-right,2);     
    @include cssvaluegutter(margin-left,1);         
    }     

}

/* end styling */

// delete this onece onde - its just a temp way of hiding it
body.wp-admin.admin-page-id-3 //privacy policy - local
/*body.wp-admin.admin-page-id-343*/// t&c - local
{

	#cookie-notice{

	//display:none!important;//temp

	}//#cookie-notice


}/*body.wp-admin.admin-page-id-3, //privacy policy - local */
//// delete this onece onde - its just a temp way of hiding it


body.page-id-3 //privacy policy - local
/*body.page-id-343*/// t&c - local
{

    #cookie-notice{

    //display:none!important;//temp

    }//#cookie-notice

    .cookie-notice-revoke-container{
    // no need to show on this page
   // display:none!important;
    }

}/*body.wp-admin.admin-page-id-3, //privacy policy - local */



