/*site wide */

.upcoming-events-title{
width: 100%;
text-align: center;

  @include padding(padding-top, 1);
  @include padding(padding-bottom, 1);
}


.date-item{
@include smaller;

  .date{
  width: 100%;
  display: flex; 
  }

  .time{
  width: 100%;
  display: flex;
  }

} /* .date-item */


/* single */

.single-events{

  .details-wrap.outer-grid-item{
  @include padding(padding-top, 2);
  @include padding(padding-bottom, 2);
  }
  
  .cover-image-item{
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center center;
  }

  .event-name{
  @include h1;
  font-weight: $boldweight;

    @media (min-width: map-get($breakpoints,md)) {
   // padding-right: 50%;// change dto margin- review + delete commment
    margin-right: 50%;// 
    }

  }

  section#event-details{
  overflow: hidden;// fixed the overflow on safari - review + delete comments
  }

  section#upcoming-events{
  width: 100%;

    .event-item{
    min-height: 50vh;
    @include padding(padding, 2);
    background-size: cover;
    background-position: center;

      .event-name{
      @include h2;
      font-weight: $boldweight;
      } 

    }
    
  } /*section#upcoming-events*/


} /* single */




.event-summary{
overflow: visible; // for transforms
position: relative;
@include padding(padding-top, 0.5);
@include padding(padding-bottom, 0.5);
@include cssvalue(margin-top, 1.5); 
@include cssvalue(margin-bottom,0.5); 

  @media (min-width: map-get($breakpoints,md)) {
  @include padding(padding-top,0);
  @include padding(padding-bottom, 0);
  @include cssvalue(margin-top, 0); 
  @include cssvalue(margin-bottom,0); 
  }//md

  .event-summary-bg{
  width: 200vw;
  position: absolute;
  left: -50%;
  top: 0px;
  bottom:0px;
  border-top: 1px solid $white; 
  border-bottom: 1px solid $white; 
  opacity: 0.5;

    @media (min-width: map-get($breakpoints,md)) {
    display: none;
    }//md


  }//.event-summary-bg

  div.summary-item{
   border-bottom: 1px solid white;   
  @include padding(padding-top, 0.2);
  @include padding(padding-bottom, 0.2);
  @include smaller;

    a{
    @include scalelink-out;

    font-size: inherit;
    line-height: inherit;
    width: 100%;
    height: auto;
    overflow: hidden;
    display: block;
    }

    span{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    float: left;
    }

    .svg-icon.inline-icon{
    @include cssvalue(height, 1); // 1 -padding minus (from above though -- not sure it adds up)
   
       @media (min-width: map-get($breakpoints,sm)) {
         @include cssvalue(height, 0.8); // 1 -padding minus (from above though -- not sure it adds up)
        padding:0;
       }

       @media (min-width: map-get($breakpoints,md)) {      
         @include cssvalue(height, 0.8); // 1 -padding minus (from above though -- not sure it adds up)
         @include cssvalue(padding, 0.1); // 1 -padding minus

        }//md

    }//.svg-icon.inline-icon

    &:hover{
     
      a.scale-link{
      @include scalelink-in;

        .right{ 
         font-weight: $boldweight;
        }

      }

      a.scale-link-right{

        .right{ 
         font-weight: $boldweight;
        @include scalelink;
        }

      }

    }

  }
  div.summary-item:first-child{
  }
  div.summary-item:last-child{
  border-bottom: none;   

      &:hover{
      // border-top: 1px solid white; 
      }
  
  }
  div.summary-item:first-child:last-child{
  border: none;
  }


  div.summary-item.past{

      span{
      float: left;
      }

      a{
      width: 100%;
      float: left;
      display: block;
     // width: auto;

          .right{ 
          float:right;  
          font-weight: $mediumweight;
          }

          
      }

  } /* div.summary-item */


} /* event-summary */


#lineup-wrap{


    li.room{

    }

    .room-name{
    @include body;
    font-weight: $lightweight;
    text-transform: uppercase;
    @include cssvalue(font-size, 0.45);
    }

    ul.room-items{
    @include padding(padding-bottom, 0.8);
    @include padding(padding-top, 0.1);
    }
                        
    li.artist-name.label-artist{
    @include body;
      font-weight: $boldweight;
   // background: red;
      a{
        font-weight: inherit;
        font-size: inherit;
         }

    }
                        
    li.artist-name.other-artist{
    @include body;
      font-weight:$boldweight;
  
      span{
        font-weight: inherit;
        font-size: inherit;
        }

    }

    li.text-item{
    @include body;
      font-weight: $lightweight; 
  
      span{
      font-weight: inherit;
        font-size: inherit;
     
        }
   
    }
 

} /*#lineup-wrap*/







section.view.container{
   @include padding(padding, 2);

  .row{
  text-align: center;
  }

  .item{
   // background: red;
    display: block;

    &:hover{
    @include scalelink;

    }
  }
  

}//section#upcoming-events


section#past-events{
width: 100%;
  
  .past-event-title{
  text-align: center;
  }

  .event-items{

    a{
    border-bottom: 1px solid white;   
    }
    a:first-child{
    }
    a:last-child{
    border-bottom: none;   
    }
    a:first-child:last-child{
      border: none;
    }

  } /* .event-items */


} //section#past-events


.event-items{
position: relative;
overflow: visible; /* this because of sticky can't be hidden? */
}



.post-type-archive-events, /* archive */
.featured-home-item-events /* home 'featured' */
{

   .event-item{
    min-height: 100vh;
    @include padding(padding, 2);
    background-size: cover;
    background-position: center;

      .event-name{
      @include h2;
      font-weight: $boldweight;
      } 

    } /*event-item */

    section#past-events{
    @include padding(padding-top, 2);
    @include padding(padding-bottom, 2);

        .past-event-title{
        @include padding(padding, 1);
        text-align: center;
        font-weight: $boldweight;
        }

        .past-event-item{
 
            .date{
           //  @include smaller;
           //  @include lineheight;
            font-weight: $mediumweight;
            @include cssvalue(font-size, 0.5);
            overflow: hidden;
            text-align: center;

              @media (min-width: map-get($breakpoints,md)) {
              text-align: right;
              border-right: 1px solid $white_0-25;
              }

              @media (min-width: map-get($breakpoints,lg)) {
              overflow: visible;//review this
              border-right: none;
              @include cssvalue(font-size, 0.4);
              text-align: left;
              }

            }//.date

            .event-name{
            @include lineheight;
            text-align: center;

              @media (min-width: map-get($breakpoints,md)) {
             text-align:left;

              }

            }//.event-name

            .venue{
            @include lineheight;
            @include smaller;
            font-weight: $mediumweight;
            text-align:center;

              @media (min-width: map-get($breakpoints,md)) {
              text-align: right;
              }

            }//.venue


        }/*event-item */

        .event-items{

            .past-event-item{
            @include padding(padding-bottom, 0.5);
            @include padding(padding-top, 0.5);
            border-bottom: 1px solid $white_0-25;   


             @media (min-width: map-get($breakpoints,md)) {
             @include padding(padding-bottom, 0);
             @include padding(padding-top, 0);
          //   border-bottom: 1px solid white;   
             border-bottom: 1px solid $white_0-5;   

              }
           
              &:hover{
                 
              border-top: 1px solid $white;
              border-bottom: 1px solid $white;
              margin-top: -1px;

                 .scale-me{
                  @include scalelink;
                  }

              }

            }/*a*/

            .past-event-item:first-child{
             margin-top: 0px;
            border-top: none;

            }
            .past-event-item:last-child{
            border-bottom: none;   
            }
            .past-event-item:first-child:last-child{
              border: none;
            }


          } /* .event-items */


    } /*section#past-events */
    
    // if no upcoming events on archive page:
    #random-event-details{

      .cover-image-item{
      width: 100%;
      height: 100vh; // mayube use the bnanner in sated?
      background-size: cover;
      background-position: center center;
      }

    }//    #random-event-details{


} /*  archive */


