/*_flickity-fade.scss*/
// c&p frm https://unpkg.com/flickity-fade@1.0.0/flickity-fade.css

.flickity-enabled.is-fade .flickity-slider > * {
  pointer-events: none;
  z-index: 0;
}

.flickity-enabled.is-fade .flickity-slider > .is-selected {
  pointer-events: auto;
  z-index: 1;
}

// svs addtions: setting speed of fade

.flickity-enabled.is-fade{

// we're getting an intial "fading" state; lots of overlapping slides; how to fix this? 
//Maybe apply another JS that fade's entire wrapper in; once the slider has already started?

	.featured-home-item {
	//  left: 0 !important;
	opacity: 0!important;
	transition: opacity 2s ease-out; // & actual slide changing = 8sec
	z-index: -1;
	}

	.featured-home-item.is-selected {
	// opacity: 1;
	z-index: 0;
	opacity: 1!important;
	transition: opacity 2s ease-in-out; // & actual slide changing = 8sec
	}

}//.flickity-enabled.is-fade