/*_home.scss*/
 
//body.home{ // this needed/good idea maybe?


.featured-home-wrapper,
.release-home-wrapper
{

height: 100vh;// review
width: 100%;
overflow: hidden;
display: block;

    .featured-home-carousel,
    .release-home-carousel
    {
    height: inherit;
    width: 100%;
    
      .featured-home-item,
      .release-home-item{
      width: 100%;
      height: 100%;

        &.is-previous{

//Thgis does work - because jes nto applaying corresctly with wrap arround
            .inner-home-item {
          //  transition: all 1000ms cubic-bezier(0.680, -0.550, 0.265, 1.550);// easeInOutBack 
          // transition: all 1000ms ease-out;//ease-in-out; // easeInOutBack 

          //  max-width: 150px;
         /*   width: 100%;  
            display: inline-block; 
            transform: scale(0);
        //  transform-origin: right;
            -webkit-filter: grayscale(100%) blur(20px); 
            filter: grayscale(100%) blur(20px); 
                          transition: all 100ms ease-out;//ease-in-out; 
*/
            }

        }//&.is-previous

        &.is-selected {

          .inner-home-item {
            transform-origin: center;

            transform: scale(1);
            -webkit-filter: grayscale(0) blur(0); 
            filter: grayscale(0) blur(0);
            transition: all 1000ms ease-out;//ease-in-out; /* easeInOutBack */
          }
        
        }//&.is-selected

        &.is-next{
          
            .inner-home-item {

          /*  transform: scale(0);
          //  transform-origin: right;

            -webkit-filter: grayscale(0) blur(0); 
            filter: grayscale(0) blur(0);
            transition: all 100ms ease-out;//ease-in-out;
            */
          }

        }//&.is-next
          
        &.featured-home-item-releases,
        &.release-home-item{
           a{
          display: block;

            .record-circle-container,
            .record-square-container{
            @include center-align(absolute, 0) 
            }
      
          }//a
          
        }//&.featured-home-item-releases  
        
        .inner-home-item {
          //  transition: all 1000ms cubic-bezier(0.680, -0.550, 0.265, 1.550);// easeInOutBack 
         //  transition: all 1000ms ease-out;//ease-in-out; // easeInOutBack 

          //  max-width: 150px;
            width: 100%;  
            height: 100%;
           transform: scale(2);
          -webkit-filter: grayscale(100%) blur(20px); 
            filter: grayscale(100%) blur(20px); 
            transition: all 1000ms ease-in;//ease-in-out;
        
           // display: inline-block; 
           // transform: scale(0);
           // transform-origin: left;
            //-webkit-filter: grayscale(100%) blur(20px); 
           // filter: grayscale(100%) blur(20px); 
        }

      }//.featured-home-item


      .flickity-prev-next-button{
      top: initial;
      position: absolute;
      bottom: 0px;
      transform: none;

      @include cssvaluegutter(width,5); 
      @include cssvaluegutter(height,5); 
      }

      .flickity-page-dots{
      bottom: 0px;
       display:block;
      background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%); /* FF3.6-15 */
      background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 ); /* IE6-9 */

      }

    }//.featured-home-carousel

}//.featured-home-wrapper


.release-home-wrapper{
display:flex;
height:inherit;  
    
    .release-home-carousel{
    min-height: 50vh;

      @media (min-width: map-get($breakpoints,lg)) {
        min-height: 100vh;
        }
    }// .release-home-carousel{

    .border{
    padding:0px;
    border-top: 1px solid $white;    
    height:auto;
    display: block;
    width: 100%;
    }

    .more-release-wrapper{
    @include cssvalue(padding-top,0.5); 
    @include cssvalue(padding-bottom,1); 

      a{
      @include smaller; 
      float: right;
      }
 
    }//.more-release-wrapper

}//.release-home-wrapper


.featured-news-home-wrapper{
background: $grey;
color:$black;

  .featured-home-item{

    &.featured-home-item-news{

      .post-entry-details{

        .date-wrap{
          display: flex;
          flex-direction: row;
          align-items: stretch;
          width: 100%;
          @include padding(padding-top, 0.5);
          @include padding(padding-bottom, 0.5);

            .date{
            @include padding(padding-right, 0.5);
            @include cssvalue(line-height, 0.5);
             }

          }//.date-wrap

          .news-item-title{
         
          @include h1;
          font-weight: $boldweight;
          @include cssvalue(padding-top, 0.5);
          }

      }//.post-entry-details

    }//&.featured-home-item-news

  }//  .featured-home-item

}//.featured-news-home-wrapper


.news-home-wrapper{
background: $grey;
color:$black;
}//.news-home-wrapper


//}//body.home