/*_radio.scss*/
 


/* single */

body.single-radio{

  .details-wrap.outer-grid-item{
  @include padding(padding-top, 2);
  @include padding(padding-bottom, 2);
  }
  
  .cover-image-item{
  width: 100%;
  height: 75vh;// same as archive page
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  }

  li{
  display: block;
  list-style:none;

    .wrapping{

      a.single-radio-item{
  //    position: absolute;
        
         .play-icon-wrap{
        //  width: 100%; 
         // float: left;
        //  position: absolute;
         // height: 50%;
         // bottom: 0px;
         // top: 50%;

              .play-toggle.small{
            //  @include padding(padding,1.5);
            //  margin-top: -50%;
              }
      
          }

      

      }//a.single-radio-item

      .details-wrap{
      display: block;
      position: relative;
      overflow: hidden;
      margin:auto;

          .radio-name{
          @include h2;
          font-weight: $boldweight;
          clear: both;
          display: block;
          } 
          .radio-date{
          font-weight: $lightweight;
          @include smaller;
           display: block;
           float: left;
          }
          .radio-view-item{
          float: right;
          @include smaller;
          font-weight: $mediumweight;
          opacity: 0.5;
          @include opacity-out-0_5;
          }

      }//.details-wrap

      .show-description-wrap{
      font-weight:$lightweight;
      @include body;
      }

    }//.wrapping

  }//li

  section#upcoming-radios{
  width: 100%;

    .radio-item{
    min-height: 50vh;
    @include padding(padding, 2);

      .radio-name{
      font-weight: $boldweight;
      } 

    }
    
  } /*section#upcoming-radios*/

} /* body.single-radio */




.radio-summary{
overflow: visible; // for transforms


  div.summary-item{
   border-bottom: 1px solid white;   
  @include padding(padding-top, 0.2);
  @include padding(padding-bottom, 0.2);
  @include smaller;

    a{
    font-size: inherit;
    line-height: inherit;
    width: 100%;
    height: auto;
    overflow: hidden;
    display: block;
    }

    span{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    float: left;
    }

    .svg-icon.inline-icon{
 //height: @mixin cssvalue($type, $size){
   @include cssvalue(height, 0.8); // 1 -padding minus (from above though -- not sure it adds up)
   @include cssvalue(padding, 0.1); // 1 -padding minus

    }
    &:hover{
     
        .scale-me{
        @include scalelink;
        }
     
        a{
    
          .right{ 
           font-weight: $boldweight;
          }

        }

    }

  }
  div.summary-item:first-child{
  }
  div.summary-item:last-child{
  border-bottom: none;   

      &:hover{
      // border-top: 1px solid white; 
      }
  
  }
  div.summary-item:first-child:last-child{
  border: none;
  }


  div.summary-item.past{

      span{
      float: left;
      }

      a{
      width: 100%;
      float: left;
      display: block;
     // width: auto;

          .right{ 
          float:right;  
          font-weight: $mediumweight;
          }

          
      }

  } /* div.summary-item */


} /* radio-summary */

/* why this in here? delete it 
#lineup-wrap{


    li.room{

    }

    .room-name{
    @include body;
    font-weight: $boldweight;
    }

    ul.room-items{
    @include padding(padding-bottom, 0.8);
    }
                        
    li.artist-name.label-artist{
    @include body;
      font-weight: $lightweight;
   // background: red;
      a{
        font-weight: inherit;
        font-size: inherit;
         }

    }
                        
    li.artist-name.other-artist{
    @include body;
      font-weight: $lightweight;
  
      span{
            font-weight: inherit;
        font-size: inherit;
     
        }

    }

    li.text-item{
    @include body;
      font-weight: $lightweight; 
  
      span{
            font-weight: inherit;
        font-size: inherit;
     
        }
    }
 


} *//*#lineup-wrap*/







section.view.container{
   @include padding(padding, 2);

  .row{
  text-align: center;
  }


}//section#upcoming-radios

/*
section#past-radio .bottom-container{// added bottom container - review + delete this commetn if oka
width: 100%;
  
  .past-radio-title{
  text-align: center;
  }

  .radio-items{

    a{
    border-bottom: 1px solid white;   
    }
    a:first-child{
    }
    a:last-child{
    border-bottom: none;   
    }
    a:first-child:last-child{
      border: none;
    }

  } //.radio-items 


} //section#past-radios
*/


.radio-items{
position: relative;
overflow: visible; /* this because of sticky can't be hidden? */
}


/* archive */

body.post-type-archive-radio{

      .cover-image-item{
      width: 100%;
      height: 50vw;// thumb size
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;


        @media (min-width: map-get($breakpoints,md)) {  
        height: 25vw;// thumb size
        }
      
      }

      li{ // styles across page-1 , 2 etc.
      display: block;
      list-style:none;

        .wrapping{
        width: 100%;
        @include padding(padding-bottom, 1);

          a.radio-item{
             width: 100%;

             .play-icon-wrap{
              height: 100%;

                  .play-toggle.inline-small{
                  padding: 20% 45% 20% 45%;
                  height: 100%;

                    @media (min-width: map-get($breakpoints,md)) {  
                    //padding: 30% 45% 30% 45%; // no need to change it?
                    }

                  }

              }//.play-icon-wrap

          }//a.radio-item

          a.view-radio-item{

              .details-wrap{
              display: block;
              position: relative;
              overflow: hidden;
              @include cssvalue(padding-top, 0.5);

                  .radio-date{
                  font-weight: $lightweight;
                  @include smaller;
                  display: block;
                  float: left;
                  clear: both;
                  width: 100%;
                  }

                  .radio-name{
                  @include h2;
                  font-weight: $boldweight;
                  @include cssvalue(font-size, 0.6);
                  @include cssvalue(line-height, 0.8);
                  @include cssvalue(padding-top, 0.2);
                  display: block;
                  width: 75%;
                  padding-right: 5%;
                  clear:none;

                    @media (min-width: map-get($breakpoints,md)) {  
                     width: 80%;
                    }

                  } 

   
                  .radio-view-item{
                  float: right;
                  @include smaller;
                  @include cssvalue(font-size, 0.4);
                  font-weight: $mediumweight;
                  opacity: 0.5;
                  @include opacity-out-0_5;
                  width: 25%;
                  clear:none;
                  display: block;
                  text-align: right;

                     @media (min-width: map-get($breakpoints,md)) {  
                     width: 20%;
                    }

                  }


                &:hover{
                  
                  .radio-view-item{
                  opacity: 1;
                  @include opacity-in-0_5;
                  }

                }//:hover    

              }//details-wrap

           /*   .cover-image-item{
               height: 50vw;
               background: red;

                  @media (min-width: map-get($breakpoints,md)) {  
                  height: 25vw
                  }

                .play-icon-wrap{
                height: 100%;
                } 

                .play-toggle.inline-small{
                padding: 20% 45% 25% 45%;
                height: 100%;

                    @media (min-width: map-get($breakpoints,md)) {  
                    //padding: 30% 45% 30% 45%; // no need to change it?
                    }

                }
            
              } //.cover-image-item

            */

          }// a.view-radio-item

        }//.wrapping

      }//li

 

      section#past-radios{
      //@include padding(padding-top, 2);
      //@include padding(padding-bottom, 2);

            .top-container{
            width: 100%;

              .cover-image-item{ // first top image
              height: 75vh;// same as archive page
              }

            }


      } /*section#past-radios */


     .first-page{

        .radio-item-li{
       // width: 100%;    
        //float: left;

            .details-wrap{
            @include cssvalue(padding-top, 0.5);
            }

            .cover-image-item{
            height: 50vw;

              @media (min-width: map-get($breakpoints,md)) {  
              height: 25vw
              }

              .play-icon-wrap{
              height: 100%;
              } 

              .play-toggle.inline-small{
              padding: 20% 45% 25% 45%;
              height: 100%;

                @media (min-width: map-get($breakpoints,md)) {  
                //padding: 30% 45% 30% 45%; // no need to change it?
                }

              }
            
            } //.cover-image-item
          
            .radio-name{
            @include h1;
            font-weight: $boldweight;
            @include cssvalue(font-size, 0.6);
            @include cssvalue(line-height, 0.8);
            @include cssvalue(padding-top, 0.2);
            
            }
            .radio-view-item{
            @include cssvalue(font-size, 0.4);
            }

        }//.radio-item-li

        .radio-item-li.radio-item-li-1{
   
          .wrapping{
           @include padding(padding-bottom, 1);// diff to other items
          }
/*
          .cover-image-item{

              .play-icon-wrap{
               // height:100%;
                display: none;// if 1st radio  itme. not active; don't display 
                position: absolute;
                @include padding(padding-bottom, 2);// ensure (atleast the) same as the .wrapping class
                height: auto;
                left: 0;
                bottom:0px;
                width: 37.5%;// 3 cols
                display:block;// if radio item active; display this icon

              }

              .play-toggle.inline-small{
              padding: 0 45% 0 45%;//' 45vh 45% 30% 45%;

                @media (min-width: map-get($breakpoints,md)) {  
               // padding: 30% 45% 30% 45%;
                }

              }
          
          } //.cover-image-item
*/
          .details-wrap{
        //  margin:auto;
      //    margin-left: 25%;
       //   width: 62.5%
          }

            @media (min-width: map-get($breakpoints,md)) {  
            .details-wrap{
//            width: 75%;
            }

          }//.radio-item-li.radio-item-li-1


          &.first-item-active{ // if we need to show thefirst item play icon

              .wrapping{
              }

              .cover-image-item{

                 
                  .play-icon-wrap{
                  } 

                  .play-toggle.inline-small{
 
                    @media (min-width: map-get($breakpoints,md)) {  
                     }

                  }
              
              } //.cover-image-item

              .details-wrap{
                @extend .push-item-left-xs-1;
               }

              @media (min-width: map-get($breakpoints,md)) {  
                .details-wrap{
                 }

              }

          }// &.show-play-icon - if we need to show thefirst item play icon


        }// .radio-item.radio-item-1

        .radio-item-li.radio-item-li-2,
        .radio-item-li.radio-item-li-3,
        .radio-item-li.radio-item-li-4,
        .radio-item-li.radio-item-li-5,
        .radio-item-li.radio-item-li-6,
        .radio-item-li.radio-item-li-7
        {
        @extend .grid-item;
        display: flex;
        //flex-wrap: wrap;

            .cover-image-item{
            width: 100%;
            height: 37.5vw;// this makes the images square
            background-size: cover;
            position: relative;

                .play-icon-wrap{
                position: absolute;
                top: 0px;
                width: 100%;
                bottom:0px;
                }

                .play-toggle.inline-small{
               // padding: 15% 45% 30% 45%;//30% 45% 30% 45%; review - values set above 
                }

            }

            .details-wrap{
            @include padding(margin-top, 0.5);
            position: relative;// was absolute; - but changed since adding view
            top: 37.5vw;
            background:black;
            }

        }//.radio-item-li.radio-item-li-7

        @media (min-width: map-get($breakpoints,sm)) {   
          
        .radio-item-li.radio-item-li-2,
        .radio-item-li.radio-item-li-3,
        .radio-item-li.radio-item-li-4,
        .radio-item-li.radio-item-li-5,
        .radio-item-li.radio-item-li-6,
        .radio-item-li.radio-item-li-7
        {
             
              .cover-image-item{
              }

                .details-wrap{
                width: 100%;
                top: initial;
                bottom:initial;//6.25vw;
                }

            }
        }
        
        @media (min-width: map-get($breakpoints,md)) {   

            .radio-item-li.radio-item-li-2,
            .radio-item-li.radio-item-li-3,
            .radio-item-li.radio-item-li-4,
            .radio-item-li.radio-item-li-5,
            .radio-item-li.radio-item-li-6,
            .radio-item-li.radio-item-li-7
            {
            width: 50%;
            padding:map-get($gutter,md);

                .cover-image-item{
                height: 25vw;

                  .play-toggle.inline-small{
                  //padding: 30% 45% 30% 45%;
                  }         

                }

                .details-wrap{
                width: 100%;
                padding:0px;
                @include padding(padding-top, 0.5);

                }

            }

        }//@media (min-width: map-get($breakpoints,md))  


      /* bottom container items */

        .bottom-container{
        @include padding(padding-top,1); 
        @include padding(padding-bottom,1); 


          .bottom-title{
          text-align: center;
          width: 100%;
          @include padding(padding-top, 0.5);
          @include padding(padding-bottom, 0.5);
          }

          li{
          border-bottom: 1px solid $white_0-25;
          overflow: hidden;

              .wrapping{
              @include padding(padding-top, 0.5);
              @include padding(padding-bottom, 0.5);
              }

          }//li

          li:last-child{
          border-bottom: 0px solid $white_0-25;
          }

          .radio-item{
          width: 100%;
          padding:0px;

              .cover-image-item{
              background-image: none!important; // don't display images on the list itmes
              height: 100%;
               width: 100%;

                  .play-icon-wrap{
                  width: 12.5vw;
                  overflow: hidden;
                  margin:auto;
                  float: none;
                 // @extend .grid-item;

                      @media (min-width: map-get($breakpoints,md)) {   
                      width: 6.25vw;
                     }
                  }

                  .play-toggle.inline-small{
                  padding: 25% 0;
                  display: block;
                  float: none;
                  position: relative;
                  width: 50%;
                  margin: auto;
                  }         

              }

          } /*.radio-item*/

          .view-radio-item{
          // position: absolute;
          }

        }/*  .bottom-container */

      /* End bottom container */

    }// .first-page

    .not-first-page{

    }// .not-first-page


} /*  archive */



/* archive navigation */


.post-type-archive-radio{

    .page-nav{
    margin:auto;
    width: 100%;
    display: block;
    position: relative;
    clear:both;
    text-align: center;
    @include padding(padding-bottom,2);
    @include padding(padding-top,1);

      .page-nav-wrapper{
      // @include cssvalue(height,0.5);
       position: relative;
       margin:auto;

          .page-numbers{
          margin: auto;
          width: auto;
          @include padding(padding-left,0.5);
          @include padding(padding-right,0.5);
          position: relative;
          display: inline-block;
          float: none;
          font-weight: $mediumweight;
          text-align: center;
          @include cssvalue(font-size,0.5);
          @include cssvalue(height,1.5);
          @include cssvalue(width,1.5);
          @include cssvalue(line-height,1.5);
          // height: 100%;
          // line-height: inherit;
          // position: absolute;
          // top: 0;

            &.current{
            opacity: 0.6;
            font-weight: $lightweight;
            border-radius: 50%;
            border: 1px solid $white_0-5;
            opacity: 0.5;
            }

            &.next,
            &.prev
            {
            position: absolute;

            @media (min-width: map-get($breakpoints,md)) {  
            width: 33.33%;
            }
           //font-weight: $mediumweight;
          }

        }//.page-nav-wrapper

    }//.page-nav 


   .prev{
    left: 0px;
      
        .previous-arrow-icon{
        transform:rotate(180deg); // rotate this icon
        height: 100%;
        @include cssvalue(width,0.5);
        @include cssvalue(padding-bottom,0.2);
        @include cssvalue(margin-right,0.5);
        }
      
       .text{
        display: none;
        text-align: left;
   
             @media (min-width: map-get($breakpoints,md)) {  
             display:block;
             }

          }

        .nav-previous{
        position: relative;
        display: inline-block;
        float: left;         
        }
  
    } //.prev

    .next{
     right: 0px;

        .next-arrow-icon{
        height: 100%;
        @include cssvalue(width,0.5);
        @include cssvalue(padding-top,0.2);
        @include cssvalue(margin-left,0.5);
        }

       .text{
        display: none;
        text-align: right;

          @media (min-width: map-get($breakpoints,md)) {  
          display: inline-block;
          float: right;
          }

        }

        .nav-next{
        position: relative;
        display: inline-block;
        float: right;

          svg{

          }
        
        }//nav-next

     } //.next

  }//.page-nav

} /*  post-type-archive-radio */


/* end archive navigation */


/* Player */




/* LAYOUT *
-----------------------------------------------*/
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

.cf {
    *zoom: 1;
}

* {
  box-sizing: border-box;
}
 
/* COLORS *
-----------------------------------------------*/

$red: #dd4444;
$red-dark: #bf3d3f;
$red-darker: #9c3538;
$grey: #4d4d4d;

 
 
/* PLAYER ICON *
-----------------------------------------------*/


.play-toggle{
padding:30%;
cursor: pointer;
height: 100%;
opacity: 0.6;
cursor: wait;
@include scalelink-in-value(0.2);

      svg{
      width: 100%;
      height: 100%;
      display: block;
      cursor: inherit;
      @include scalelink-in-value(1);
      }

      path{
      fill:white;
      }

      #play,
      #pause{
      display: none!important;
      }

   &:hover {
   pointer-events:none;// allow no clicking untill sc-loaded

      svg{
        @include scalelink-in-value(1.25);
      } 
   }

} /* .play-toggle */

body.sc-loaded{

  .play-toggle{
  pointer-events:initial;// allow clicking: sc-loaded add to body
  opacity: 1;
  cursor:pointer;
  @include scalelink-in-value(1);

  &:hover{
    pointer-events:initial;// allow no clicking untill sc-loaded

  }

  }

}//body.sc-loaded

a {
 
  &:hover {
   }
}

a.sc-player,
.button {
  display: inline-block;
  // border-radius: 4px;
  //padding: 1em 1.5em;
  //text-align: center;
  text-decoration: none;
  color: $white;
  transition: all 0.3s ease-out;

  &:hover {
   //  background: rgba(19, 19, 19, 0.24);
   }
}

.main {
 // margin-bottom: 4em;
}


 
 
 

/* SOUNDCLOUD PLAYER *
-----------------------------------------------*/
.sc-player {
  position: absolute;
  height: 100vh;
  width: 100%;
  //height: 20vh;
  //top: 80vh;
  padding-left:12.5%;
  top: 0px;
}

/* Artworks */
.sc-player .sc-artwork-list{
  display: none;
  float: left;
  width: 40%;
 // margin-bottom: 3%;
  background-color: transparent;
  list-style-type: none;
  position: relative;
  height: 100%;

  li {
    list-style-type: none;
    display: none;
  }
  
  li.active{
    list-style-type: none;
    display: block;
  }
}

.sc-player .sc-artwork-list li img, 
.sc-player .sc-artwork-list li div {
  list-style-type: none;
  width: 100%;
  height: auto;
}

/* controls */
.sc-player .sc-controls{
    display: block;
    height: 25vw;//12.5vw;//25vw
    margin-top:37.5vh;//43.75vh;///37.5vw;
    position: absolute;
    left: 43.75vw;///37.5vw;
    width: 25vw;//25vw;
    pointer-events:none;


    @media (min-width: map-get($breakpoints,sm)) {   
 //   height: 12.5vw;//12.5vw;//25vw
  //  margin-top:37.5vh;//43.75vh;///37.5vw;
    }
    @media (min-width: map-get($breakpoints,md)) {
    @include cssvalue(height, 4);
    min-height: initial;
   // height: 12.5vw;//12.5vw;//25vw
  //  margin-top:37.5vh;//43.75vh;///37.5vw;
 // background: red;
     width: 12.5vw;//25vw;

    }
 
    @media (min-width: map-get($breakpoints,xl)) {  
  //  height: 6.25vw;//12.5vw;//25vw
  //  margin-top:37.5vh;//43.75vh;///37.5vw;
    }

}//.sc-player .sc-controls

.sc-player .sc-controls a {
  pointer-events:initial;
 // text-indent: -9999px;
  content: '';
  display: block;
   background: $black_ten_p;
  //background: rgba(19, 19, 19, 0.12);
  border-radius: 50%;
  //width: 150px;
 // height: 150px;
  margin: 0 auto;
  position: relative;
  transition: all 0.3s ease-out;
  cursor: pointer;
 
  
  &:hover {
    background: $black;
  //  background: rgba(19, 19, 19, 0.22);
  }
  
  &:after {
    /*
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    margin-top: -50px;
    left: 50%;
    margin-left: -50px;
    z-index: 1;
    //background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/35376/play-pause.png');
   // background: url('http://nicholaspetersen.is/wp-content/themes/v3/images/play.png');
   // background-position: top;
  //  background-size: 100px auto;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    */
 
  }
}

.sc-player .sc-controls a.sc-pause:after {
  background-position: bottom;
}

.sc-scrubber .sc-time-indicators{
  color:$white;
 // border-radius: 4px;
 // padding: 10px;
  text-align: right;
}

.sc-player .sc-controls a{
  height: 50%;// this is the play/pause toggle
}

.sc-player .sc-controls a.sc-pause {
 // display: none;
}

.sc-player.playing .sc-controls a.sc-play {
//  display: none;

}

.sc-player.playing .sc-controls a.sc-pause {
//  display: block;
}

/* scrubber */

.sc-scrubber {
  position: absolute;
  bottom:  12.5vw;
  // float: right;
  width: 87.5%;// was 100%;
  padding-left: 12.5vw;
  padding-right: 12.5vw;
  z-index: 1;// ensur aboute the copy
 
  .sc-buffer{
    cursor: pointer; // so you can see where to click on the playable area
  }

   

  .sc-buffer, 
  .sc-played {
    height: 10px;
    position: absolute;
    top: 0;
    border-radius: 5px;

  }

  .sc-time-indicators{
    position: absolute;
    right: 12.5vw;
   bottom: -6.25vw;
  }

  .sc-time-span {
    background-color: rgba(255, 255, 255, 0.25);
    //background-color: #666;
    border-radius: 5px;
     position: relative;
     overflow: hidden;
    height: 10px;
  }

  .sc-volume-slider {
    background-color: $white;
    border-radius: 2px;
    display: none; // don't need this
  }

  .sc-volume-slider .sc-volume-status{ 
    border-right: 1px solid $white;
   }

  .sc-waveform-container {
    z-index: 800;
    width: 100%;
    position: absolute;
    margin-top: -50px;
    pointer-events:none;// allow cursor from scrubber
  }


  .sc-time-span img {
    height: 100px;
    width: 100%;
    display: block;
    opacity: 0;
  }

  .sc-buffer {
    background: $white;
     z-index: 1;
    position: absolute;
    opacity: 0.25;

  }

  .sc-played {
    cursor: pointer;
    background: $white;
    opacity: 1;
    z-index: 799;
  }

}

/* volume control */
.sc-volume-slider {
  top: -35px;
  left: 0px;
  position: absolute;
  width: 150px;
  height: 20px;
  background-color: white;

  .sc-volume-status{
    position: absolute;
    width: 0%;
    height: 20px;
    top: 0;
    left: 0;
  }
}

/* tracks */

/* Track listings*/
.sc-player ol.sc-trackslist{// eventualy this will be hidden
  opacity: 0;
  pointer-events:none;
  display: block;
  width: 100%;

  li {
    width: 100%;
    cursor: pointer;
    //margin-bottom: 0.5em;
   // padding: 4%;
    background: $black;
  //  background: rgba(19, 19, 19, 0.12);
   // color: white;
    //border-radius: 4px;
    //transition: background 0.3s ease-in;
   // text-align: left;
 

    &:last-child {
      margin-bottom: 0;
    }

    a {
      //font-size: 1.125em;
       display: block;
 
    }

    &:hover {  
      background: $black;
     // background: rgba(19, 19, 19, 0.22);
    }

    &.active{  
      background: $black;
     // background: rgba(19, 19, 19, 0.32);
     //-moz-border-radius: 4px;
     //-webkit-border-radius: 4px;

       a {
        color: #fff;
      }
    }
  }

}// eventualy this will be hidden


//the row list
#other-shows .radio-items{
position: relative;
width: 100%;
height: auto;
overflow: auto;
display: block;
z-index: 2;
@include padding(padding-bottom,2); // same as archive nav
  
    li {
    width: 100%;
    cursor: pointer;
    color: white;
    text-align: left;
    display: block;
    border-bottom: 1px solid $white_0-25;
    overflow: hidden;

        .wrapping{
        position: relative;
        @include padding(padding-top, 0.5);
        @include padding(padding-bottom, 0.5);
         
            a.radio-item {
            display: block;
            width: 16.6667%;// review - dirty
            height: 100%;
            position: absolute;
            overflow: hidden;
            z-index: 3;// above other link 
            top:0px;
            bottom: 0px;

                .play-icon-wrap{
                width: 12.5vw;
                overflow: hidden;
                float: left;
                position: relative;
                height: 100%;
 
                @media (min-width: map-get($breakpoints,md)) {   
                width: 6.25vw;
                margin: auto;
                float: none;
                }

                    .play-toggle.small{
                    }
                       
                    .play-toggle.inline-small{
                    padding: 25% 0;
                    display: block;
                    float: none;
                    position: relative;
                    width: 50%;
                    margin: auto;
                    height: 100%;
                    }         

                }// .play-icon-wrap

            }//a.view-radio-item

            a.view-radio-item{
            display: block;
            position: relative;
            overflow: hidden;
            z-index: 2;// below other link 

                .details-wrap{
                display: block;
                float: left;
                margin-left: 12.5%;
                width: 87.5%;
                @include cssvalue(padding-top, 0.25);
               // @include cssvalue(padding-left, 1);
               // @mixin cssvaluegutter($type, $size){ // this for horizontal meassuring - based on gutter
                @include cssvaluegutter(padding-left, 1);
                @include cssvaluegutter(padding-right, 1);
                @include cssvalue(padding-bottom, 0.25);

                @media (min-width: map-get($breakpoints,md)) {   
                width: 62.5%;
                }


                      .radio-name{
                      @include h2;
                      max-width: 60%;
                      font-weight: $boldweight;
                      clear: both;
                      display: block;
                      } 

                      .radio-date{
                      font-weight: $lightweight;
                      @include smaller;
                      display: block;
                      float: left;
                      }
                      .radio-view-item{
                     // float: right;
                      @include smaller;
                      @include cssvalue(font-size, 0.4);
                      font-weight: $mediumweight;
                      opacity: 0.5;
                      @include opacity-out-0_5;
                      // review this - bit dirty
                      top: 35%;
                      position: relative;
                      right: 0;

                          @media (min-width: map-get($breakpoints,md)) {   
                          position: absolute;
                          }
                      
                      }

                  &:hover{
                      
                      .radio-view-item{
                      opacity: 1;
                      @include opacity-in-0_5;
                      }

                  }//:hover    
                      
                } //.details-wrap

            }///a.view-radio-item

            &:hover {  
              background: $black;
             // background: rgba(19, 19, 19, 0.22);
            }

            &.active{  
              background: $black;
             // background: rgba(19, 19, 19, 0.32);
             //-moz-border-radius: 4px;
             //-webkit-border-radius: 4px;

               a {
                color: #fff;
              }

            }// &.active

            &:last-child {
            margin-bottom: 0;
            border-bottom: 0px;
            }

         }//wrapping

         &:hover{ // li:hover
         border-top: 1px solid $white;
         border-bottom: 1px solid $white;
         margin-top: -1px;
         }


      }//li

      li:last-child{
      border-bottom: 0px solid white;
      }

}//#other-shows .radio-items


.sc-track-duration {
  float: right;
 
 
}

/* Track info*/

.sc-player .sc-info {
  display:none;
 
  

  h3 {
   // font-size: 2em;
   // margin-bottom: 0.5em;
  }
  
  h4 {
    display: none;
  }
 
  .sc-info a {
   }
}

p {
 /* max-width: 38em;
  max-width: 38rem;
  margin: 0 auto 1em;
  line-height: 1.5;
  text-align: left;*/
}

.sc-player .sc-info-toggle,
.sc-player .sc-info-close {
  display: none;
}

/* utilities */

.sc-player .hidden {
  //display: none;
}

.sc-player-engine-container{
  width: 1px;
  height: 1px;
  position: fixed;
  top: 2px;
  left: 2px;
}

.sc-player .sc-info-toggle{
  //background: #22B573;
  //color: #fff;
  //border-radius: 4px;
  //padding: 4px;
}

.sc-player .sc-info-toggle:hover{
 // background: #333;
  // color: #fff;
}

.sc-player .sc-info-close{
  //background: #22B573;
  //border-radius: 4px;
  //padding: 2px 4px;
  //font-weight: bold;
}



/* Player - different states: */

 
body.pulsate-player-icon{

     .toggle-icon-wrap{
        
          .toggle-icon{
         //  background-color: red;
              //@include scalelink;
         //     @include scalelink-in-value(1.25);
          transform:scale(1.25)!important;
          transform-origin:center;
          transition:400ms ease-in-out;

            g{
            //stroke:$red;
            stroke-width:2;
            }

          }

       }//.toggle-icon-wrap
 

}// body.pulsate-player-icon{

 
.radio-container{
 
  overflow: hidden;
  height: 100vh;
  width: 100%;
  display: none;// hide the container as a standard
  float: left;
  position: fixed; // temp ? As it fixes the overflow issues
  //position: absolute;
  z-index: 9;
  left: 0vw;
  pointer-events:none

}

//body.single-radio,
body.sc-player-playing,  // if radio is playing sc-player-playing
body.sc-player-paused// this so that when paused its still visible
  { 

  .radio-container{
    pointer-events:none;
    display: block; // display if radio active or on single radio page

  }

}//body.radio-active

 
body.sc-player-paused{ // this so that when paused its still visible
  //background: red;
}

body.single-radio{

  .radio-container{
  position: absolute;
  z-index: 9;

      .sc-player{
      padding-left: 0px;
      position: absolute;
      height: 100vh;
      width: 100%;
      //padding-left: 12.5%;
      top: 0px;
      box-shadow: none;
      background: transparent;
      min-height: initial;

      .sc-controls{
      display: block;
      height: 12.5vw;
      margin-top: 37.5vh;
      position: absolute;
      left: 43.75vw;
      width: 12.5vw;
      pointer-events: none;
      }

      .sc-scrubber{
      width: 100%;
      position: absolute;
      //bottom: 12.5vw;
      height: 6.25vw;
      bottom: 0px;
     // width: 87.5%;
      padding-left: 12.5vw;
      padding-right: 12.5vw;
      z-index: 1;
      top: initial;
      margin-top: initial;
      left: 0;
      }

      .sc-time-indicators{
   
      }

      ol.sc-trackslist{
    
      }
      .sc-trackslist li{
 

         .sc-track-duration{
         }


      }

      .sc-trackslist li.active{

      }

    }/* .sc-player */

  }/*.radio-container */

}//body.single-radio



body.post-type-archive-radio
///body.post-type-archive-radio:not(.single-radio)
{
 // background: yellow;

    .radio-container{
    pointer-events:initial;
    //display: block;
    position: absolute;
    z-index: initial;
   
       .sc-player{
      /*  padding-left: 0px;
        position: absolute;
        height: 100vh;
        width: 100%;
       // padding-left:12.5%;
        top: 0px;
*/
            .sc-controls{
  /*
            display: block;
            height: 12.5vw;//25vw
           // margin-top:37.5vh;//43.75vh;///37.5vw;
            position: absolute;
            left: 43.75vw;///37.5vw;
            width: 12.5vw;//25vw;
            pointer-events:none;
    */
            }

            .sc-scrubber{
            width: 100%;
            position: absolute;
            bottom: 12.5vw;
            padding-left: 25vw;
            padding-right: 25vw;
            z-index: 1;

                @media (min-width: map-get($breakpoints,md)) {
                padding-left: 12.5vw;
                padding-right: 12.5vw;
                }

            }

            .sc-time-indicators{
         
            }

            ol.sc-trackslist{
          
            }
            .sc-trackslist li{
       

               .sc-track-duration{
               }


            }

            .sc-trackslist li.active{

            }

      }/* .sc-player */
 
  }/*.radio-container */

} //body.post-type-archive-radio


/*
.radio-container.minimised{ // delete - don't this is used?
height: 10vh; // this used?
}
*/

body.sticky-radio-player,
body.post-type-archive-releases, 
body
// always sticky player on release pages + ideally other oaswell
//body:not(.single-radio) // but causes overridding issues
{

  .radio-container{
  position: fixed;
  // height: 12.5vh;
  pointer-events:none;
  z-index: 98;

    .sc-player{
    pointer-events:initial;
    height: auto;
    min-height: 25vw;
 
    @media (min-width: map-get($breakpoints,md)) {
 
    min-height: 12.5vw;

    }

    @media (min-width: map-get($breakpoints,lg)) {
    min-height: 12.5vw; // should this 6.26?
    }
    @media (min-width: map-get($breakpoints,xl)) {
     }

    background: black;
    overflow: hidden;
    box-shadow: 1px 1px 10px black;
    padding-left:0px;

      .sc-controls{ // moves top left of screen
      margin-top: 0;
      z-index: 2; // 1 above the scrubber (which is 1)
      position: absolute;//
      left: 0;
      top: 0;
      bottom:0;
      float: left;// this needed?
      height: inherit;// overrides the vw values

        a.sc-play{
        width: 100%;
        position: absolute;
        left: 0;
        right: 0;
       // top: 12.5%;// added - but why? - review + delete
        border-radius: 0;
        background:transparent;
        z-index: 2;
        height: 25vw;
        @extend .grid-item;

           @media (min-width: map-get($breakpoints,sm)) {
            }
           @media (min-width: map-get($breakpoints,md)) {
            height: 12.5vw;
            }

          .play-toggle{
         // top: 50%; // review - dirty offsets
         // margin-top: -50%;
          position: relative;
          padding: 30%;

             @media (min-width: map-get($breakpoints,sm)) {
             //padding: 15% 30% 50% 30%;
             }
        
          }

        }

        .player-toggle{
        position: absolute;
       // bottom: 0px;
        top: 18.75vw;
        left: 0;
        right: 0;
        width: 100%;
        line-height:25vw;
        z-index: 3; // 1 above from play

          @media (min-width: map-get($breakpoints,sm)) {
          line-height:12.5vw;
          bottom: 0;
          top: initial;
          }

          @media (min-width: map-get($breakpoints,md)) {
          line-height:6.25vw;
          }

        }

      }

      .sc-scrubber{
     // top: 6.25vw;
     @include cssvalue(top,1);

      @media (min-width: map-get($breakpoints,md)) {
    //  top: 3.125vw;
      }
      @media (min-width: map-get($breakpoints,xl)) {
     // top: 1.5625vw;
      }

      margin-top: -5px;
      bottom:initial;
      width: 100%;
      }

      .sc-time-indicators{
      position: relative;
      @include cssvalue(font-size, 0.5);
      bottom: 0;
      right: 0px;
      @include cssvalue(margin-top,0.25);
      }

      ol.sc-trackslist{
      position: relative;
      opacity: 1;
      pointer-events:initial;
    //  @include cssvalue(padding-top,0.75);
      @include cssvalue(margin-top,2);
      //margin-top: -12.5vw;// offset againts controls
      //margin-top: -18.75vw;//-6.25vw; 
      float: left;//because sc-controls also floating

        @media (min-width: map-get($breakpoints,md)) {
       // margin-top: -7.8125vw; //review this - because dividing these number generates far to many decimal places.
        }
        @media (min-width: map-get($breakpoints,xl)) {
        //margin-top: -3.90625vw; // maybe review this - because dividing these number generates far to many decimal places
        }
      }

      .sc-trackslist li{
      display: block; 
      height: 0px;// don't display the non-active items
     //   height: auto;// temporarily
      overflow: hidden;
      background: transparent;
      width: 80%;// THIS a bit messy  

        .sc-track-duration{
        display: none;
        }

      }

      .sc-trackslist li.active{
      display: block; // show the active item
      pointer-events:none;// don't allow the click of item to pause on text
      height: auto;
      padding-right: 12.5vw;
      padding-left: 25vw;
      @include padding(padding-bottom, 0.5);
      @include padding(padding-top, 0.5);

       @media (min-width: map-get($breakpoints,md)) {
        padding-left: 12.5vw;
        }

      }

    }/* .sc-container */

  }/*.radio-container */

}/* body.sticky-radio-player
    body:not(.single-radio) */

body.post-type-archive-releases{

 .radio-container{
  

    .sc-player{
    // padding-left: 12.5vw; // because we don't have the full width on the screen

      .sc-controls{
      //left: 12.5vw!important;// No - we need to re-position ghte view module I think!
      }

      .sc-scrubber{
    //  width: 87.5%; // because we don't have the full width on the screen
      }

      .sc-time-indicators{
      
      }

      ol.sc-trackslist{

      }

      .sc-trackslist li{

        .sc-track-duration{
         }

      }

      .sc-trackslist li.active{
      }

    }/* .sc-container */


  }/*.radio-container */


  &.sc-minimised,
  &.sc-player-playing,
  &.sc-player-paused{
  //&.sticky-radio-player{
// No - we need to re-position ghte view module I think!

    .view-module{
    top:12.5vw;
    }//.view-module

    // this needs sorting - i.e the js script for sticky class - :the sticky radio player class is being added, even if the radio never been "initiliased?"


  } /*
  &.sc-minimised,
  &.sticky-radio-player
  */



} /* body.post-type-archive-release */


/* markup for the min / max toggle: */

body{
   
  .sc-player{

    .player-toggle{
    height: 50%;

    @media (min-width: map-get($breakpoints,md)) {
    width: 50%;
    }
    @media (min-width: map-get($breakpoints,xl)) {
    width: 50%;
    }

    display: block;
    position: relative;
    pointer-events:initial;// reset

      .toggle-icon-wrap{
      display: none;

        .toggle-icon{
         
          svg{
          width: 100%;
          height: 100%;
          padding: 20%;// was -25%; - but: // This needs to be adjusted inorder to achive same size as nav toggle
          display: block;
          margin: 0 auto;
          overflow: visible;
          }

        }

      }//.toggle-icon-wrap

      .sc-maximise,
      .sc-minimise{
      //   @include cssvalue(padding-top, 0.25);
      position: relative;
      height: 100%;
      display: block;
      width: 100%;
      top: 0px;
      cursor: pointer;
      right: 0px;
      color:white;
      text-align: center;
      text-transform: uppercase;
      @include cssvalue(font-size, 0.4);
      font-weight: $boldweight;
    //  line-height: inherit; // from .player-toggle
      line-height: 25vw;

          @media (min-width: map-get($breakpoints,sm)) {
        line-height: 25vw;

         }

          @media (min-width: map-get($breakpoints,md)) {
        line-height: 12.5vw;

         }
        &:hover{

         @include scalelink-in-value(1.25);

        }

      }//sc-min / sc-max

      .sc-maximise{
      opacity: 0;
      }

      .sc-minimise{
      opacity: 1;
      }

    }/* .player-toggle */
 
  } /*sc-player.*/

  &.sc-minimised{

    /* player specifics*/ 

    .radio-container{

      .sc-player{
      pointer-events:none;// was initial; - but block content
      height: auto;
      min-height: 25vw;
      background: transparent;
      overflow: hidden;
      box-shadow:none;
      padding-left:0px;
      animation: 0.5s forwards fade-out;

      @media (min-width: map-get($breakpoints,md)) {
      min-height: 12.5vw;
      }
        

        .sc-controls{ // moves top left of screen
        margin-top: 0;
        z-index: 2; // 1 above the scrubber (which is 1)
        position: relative;
        left: 0;
       // height: 12.5vw;// reduce size
        float: left;// this needed?

          a.sc-play{
          display: none;
          pointer-events:none!important;// don't allow clicking of the play/pause button
          //position: absolute;
          height: 50%;       
          }

          .player-toggle{
          height: 100%; 
          width: 100%;
         // padding-top: 12.5vw;  
          min-height: 25vw;//  
        //  @include cssvalue(padding-top, 2);

          position: absolute;
          bottom: 0;
          top: 0;    
    
          @media (min-width: map-get($breakpoints,md)) {
          min-height: 12.5vw;
          }

            .toggle-icon-wrap{
            display: block;
            position: absolute;
            top: 0px;
            bottom: 0px;
            width: 100%;
             
             .toggle-icon{
             height: 100%;
             position: relative;
              @include scalelink-out-value(1);          
            
             }
            
            }//.toggle-icon-wrap

            .sc-maximise{
            position: relative;
            width: 100%;
            opacity: 1;
            }

            .sc-minimise{
            position: absolute;
            width: 100%;
            opacity: 0;
            }
            

          &:hover{

             .toggle-icon-wrap{
            
                  .toggle-icon{
 
                  //@include scalelink;
                  @include scalelink-in-value(1.25);
                }

              }

           }//.player-toggle &:hover

          }//.player-toggle

        }//.sc-controls

        .sc-scrubber{
        display: none;
        }

        .sc-time-indicators{
        display: none;
        }

        ol.sc-trackslist{
        display: none; 
        }

        .sc-trackslist li{
        display: none; 
        height: 0px;// don't display the non-active items

          .sc-track-duration{
          display: none; 
          }

        }// .sc-trackslist li 

      }//.sc-player

    }//.radio-container

  }// &.sc-minimised

    /*end player specifics */

    /*if on release page */

  &.sc-minimised.post-type-archive-releases{ 

    .view-module{
    //background: red;
    //top: 25vw;
    }//&.sc-minimised

  }//&.sc-minimised.post-type-archive-releases{ 



 /* not sure we need to have this class in use
  &.sc-maximised{

  }//&.sc-maximised
  */

} /* body */

/*


body:not(.single-radio) { // if not single radio - always have sticky radio? < is this overrding a lot of other erules

//background: green;


}
/* END Player - different states */

