/* GRID */

// breakpoints map
$breakpoints: (
  xs: 0px,
  sm: 320px,
  md: 640px,
  lg: 960px,
  xl: 1280px,
  xxl: 1440px
);

// gutter map
$gutter: (
  xs: 5px,
  sm: 5px,
  md: 10px,
  lg: 15px,
  xl: 20px,
  xxl: 20px
);

 $fontsize: (
  xs: 10px,
  sm: 12px,
  md: 14px,
  lg: 16px,
  xl: 20px,
  xxl: 24px
);

$lineheight: (
  xs: 18px,
  sm: 18px,
  md: 20px,
  lg: 26px,
  xl: 30px,
  xxl: 32px
);
// number of columns variable
	$items: 6; 
	$devitems: 8; // + outergrid
  $z-index-items: 10;

/* COLORS */

  //variables / colour range
	$svsgold:rgba(223, 163, 45,1); // gold
	$green:rgba(45, 175, 57,1); // green
  $red:rgba(240, 82, 59, 1); // red = #f0523b
    $red_0:rgba(240, 82, 59, 0); // red = #f0523b

	$black:rgba(0,0,0,1);
	$black_zero_p:rgba(0,0,0,0);
	$black_ten_p:rgba(0,0,0,0.1);
  $grey:rgba(216,216,216,1); // review grey usage
//  $grey:rgba(255,255,255,0.25); // do I need to keep both + which one is the desired?

	$white:rgba(255,255,255,1);
    $white_0-1:rgba(255,255,255,0.1);
    $white_0-25:rgba(255,255,255,0.25);
    $white_0-5:rgba(255,255,255,0.5);


  //application
  $text-color: rgba(255,255,255,1); // white
  $news-text-color: $black;
  $background-color: rgba(0,0,0,1); // black
  $news-background-color: $grey; // was grey


	//dev		
	$dev-grid-color-one:red;
	$dev-grid-color-two:green;

/* SIZES */

//	$base-font-size: 16px;


/* WEIGHTS */

	$baseweight: 100;
	$lightweight: 100;
	$mediumweight: 400;
	$boldweight: 500;
	$heavyweight: 800;

//$base-font-weight: 100;

/* LINEHEIGHT */

	$base-lineheight: 16;

/* FONTS */

  $fontfamily: "Objectivity", Helvetica, Arial, sans-serif;


