 /* Artist Block */

.artist-block{
width: 100%; 
background: green;
}

.artist-block .banner-image{
height: 40vh;
position: relative;
width: 100%;
display:block;
background-size: cover;
background-position: center;
background-repeat: no-repeat;
}

.artist-block .page-title-positioner{
animation: blurout 400ms ease-in forwards;
}

.artist-block a{
width: 100%; 
}

.artist-block a:hover .page-title-positioner{
animation: blurin 400ms ease-in forwards;
}
